
#footer {
    background-color: #2C2C2C; 
    width: 100%;
    padding-top: 14.5rem;
    padding-bottom: 12.9rem;
    ul{
        width: 100%;
    }
}
.child{
    color: white;
    display: flex;
    gap: 10rem;
    justify-content: center;
    flex-wrap: wrap;
    @include respond(tab-land){
        gap: 5vw;
    } 
    @include respond(phone){
        padding-left: 7rem;
        justify-content: start;
    } 
    & > div{
        @include respond(tab-port-5){
            flex-basis: 40%;
        } 
        @include respond(phone){
            flex-basis: 50%;
        } 
    }
    ul{
        padding: 0;

    }
    span{
        font-size:2.5rem;
        font-weight: 500;
        @include respond(phone){
            font-size:2.9rem;
        } 
    }
    li{
        list-style-type: none;
        font-size:1.5rem;
        font-weight: 500;
        a{
            text-decoration: none;
        }
        @include respond(phone){
            font-size:1.9rem;
        } 
    }
    &__logo{
        padding-right: 100px;
        p{
            font-weight: lighter; 
            color: #4D4D4D; padding-bottom: 40px;
            @include respond(phone){
                font-size: 2rem;
            } 
        }
        >div{
            display: flex;
        }
    }
}



.social {
    background-color: #444; 
    border-radius: 100%; 
    padding: 10px 15px; 
    margin-right: 10px;
    color: #C7C7C7;
}

.social:hover {
    background-color: #28AE60;
}

.list-items {
    list-style: none;
}

.list-items-links {
    color: #C7C7C7!important;
    line-height: 40px;
}

